<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/answerstyle.css">
	<title></title>
	<meta charset="utf-8" name="viewport" 
        content= "width=device-width, initial-scale=1.0"> 
</head>
<body>
	<br>
	<div class="container">
		<form action="/postanswer" method="post" name="answerform" onsubmit="return validate()">
			<div class="block">
				<input type="hidden" name="id" value="<%= id %>">
				<div class="form-group">
					<h1>Q. <%= question %></h1>
				</div>
				<div class="form-group">
					<input class="postbox" type="text" name="answer" placeholder="Answer Question" size="80%">
				</div>
				<div class="form-group">
					<input type="submit" value="Answer">
				</div>
			</div>
		</form>
		<h3>Answers</h3>
		<% for(var i=0;i<answers.length;i++){ %>
		<div class="answers">
			<%=i+1%> . <%= answers[i] %>
		</div>
		<% } %>
	</div>
	<script type="text/javascript">
		function validate(){
			if(answerform.answer.value==""){
				alert("All fields are not filled");
				return false;
			}
		}
	</script>
</body>
</html>