<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/homestyle.css">
	<style type="text/css">
		/*html,body{*/
			/*background: orange;*/
		/*}*/
	</style> 
</head>
<body>
	<form action="post" method="post">
		<input class="postbox" type="text" name="post" placeholder="Ask Question" size="80"><br>
		<div class="submitbutton"><input type="submit" value="Post"></div>	
	</form>
</body>
</html>