<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/resulthomestyle.css">
	<title></title>
</head>
<body>
	<% 
	if(results[0]==undefined){
	results.push({id:"Nan",post:"Nan"});
	console.log(results)
	results[0].post="Nothing Found related to your question"
	%>
	<script type="text/javascript"> remove();</script>
	<%}%> 	
	%>
	<h1><strong>Result Page</strong></h1>
	<% results.forEach(function(element){ %>
	<div class="container">
		<% var idparam="/views/answer/"+element.id%>
		<span class="found" style="display: block"><a href="<%=idparam%>">Q. <%= element.post %></a></span>
		<span class="notfound" style="display: none;"><%= element.post %></span>
	</div>

	<% }); %>
	<script type="text/javascript">
		function remove(){
			console.log("sds");
			document.getElementsByClassName("notfound").style.display="block";
			document.getElementsByClassName("found").style.display="none";
		}
	</script>
</body>
</html>