body,html{
	height: 100%:
	width: 100%;
	background: #E8E8E8;
	margin-left: 0;
}
h1{
	padding: 2%;
	color: #003366;
}
.container{
	margin-left: 2%;
	margin-bottom: 2%;
	padding: 3%;
	background: white;
}