body,html{
	width: 100%;
	height: 100%;
	/*margin: 0px;*/
	/*margin-top: 0;*/
	/*margin-right: 0;	*/
	/*background: silver;*/
}
.row{
	width: 100%;
	height: 100%;
	padding: 0;
	margin:0;
}
.sidebar h1{
	color:tomato;
	font-size: 140%;
	margin-top:10%;
	margin-bottom: 0;
	margin-left: 5%; 
}
.sidebar{
	margin-top: 60px;
	float:left;
	width: 100%;
	background: #004e9d;
	/*background: #003333;*/
	height: 100%;
	padding: 0;
	padding-left: 3%;
	font-size: 100%;
	/*position: fixed;*/

}
.sidelinks{
	color: white;
	margin: 15%;
}
.sidebar a{
	text-decoration: none;
}
.sidebar a:hover{
	color:tomato;
}
.home{
	margin-top: 60px;
	float: right;
	width: 100%;
	padding: 0;
	/*background: silver;*/
	height: 100%;
}
.leftfram{
	width: 100%;
	height: 100%;
	overflow-x: hidden; 
	overflow-y:	scroll;
}
/*#003366;*/
/*000066*/
#idnavbar{
	background: #004e9d;
	color:white;
	font-size: 15px;
}
.nav-link{
	color: white;
}
.nav-link:hover{
	color:tomato;
}
.navbar-brand{
	color:#ff3300;
	font-size: 25px;
}
.navbar-brand:hover{
	color:white;
}

.gcontainer{
	width: 100%;
	margin: 0;
	padding: 0;
	height: 100%;
}
.searchform{
	margin-left: 30px;
	margin-top: 5px;
}